/* Renegade ERP Core Web Styles */

.renegade-branding {
    color: #2d5aa0;
}

.renegade-web-footer {
    background-color: #2d5aa0;
    color: white;
}

.renegade-web-header {
    border-bottom: 2px solid #2d5aa0;
}